* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFFAE9;
  color: #1E1B1C;
}

.accent {
  color: #F61067;
  font-weight: bold;
}

#navbar {
  border-top: 4px solid #1E1B1C;
  border-bottom: 4px solid #1E1B1C;
}

#navbar > a {
  color: #1E1B1C;
}

#logo-light {
  display: inline;
}

#logo-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1E1B1C;
    color: #FFFAE9;
    width: 100%;
  }

  #navbar {
    border-top: 4px solid #FFFAE9;
    border-bottom: 4px solid #FFFAE9;
  }

  #navbar > a {
    color: #FFFAE9;
  }

  #logo-light {
    display: none;
  }

  #logo-dark {
    display: inline;
  }
}