#grid {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: center;
}

.grid-item {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.input {
    resize: none;
}

.grid-item > div {
    text-align: left;
    float: left;
    margin: 6px;
}

button {
    clear: both;
    display: block;
    margin-left: 6px;
}

@media screen and (max-width: 700px) {
    p {
        width: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }

    #grid {
        grid-template-columns: auto;
    }
}