/** general selectors **/

html {
  text-align: center;
  font-family: glacialindifference;
}

/** classes **/

/** 404 page div **/
.error-div {
  text-align: center;
  font-family: glacialindifference;
  color: black;
  padding-top: 100px;
}

/** ids **/

/** external fonts **/

/** Glacial Indifference Regular **/
@font-face  {
  font-family: glacialindifference;
  src: url(../assets/fonts/glacialindifference/gi_regular.otf);
}
/** Glacial Indifference Bold **/
@font-face {
  font-family: glacialindifference;
  src: url(../assets/fonts/glacialindifference/gi_bold.otf);
  font-weight: bold;
}
/** other **/
