/** COLOR PALETTE **/
/*
   Background: White
   Headers: #9422ed
   Paragraphs: Black
   Other white color (Dropdown): #f9f9f9
*/

/** general selectors **/

/** all **/
html {
  text-align: center;
  font-family: glacialindifference;
  color: black;
  margin: 0;
}

/** headers **/
h1, h2, h3, h4, h5, h6 {
  font-family: glacialindifference;
  color: #9422ed;
}

/** hyperlink styling **/
a:link{
  color: #9422ed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:visited{
  color: #95cbfb;
}

a:hover{
  color: #95cbfb;
  text-decoration: none;
}

a:active{
  color: #95cbfb;
}

/** code styling **/
code {
  color: #000000;
  background-color: #E2E2E2;
  padding: 2.5px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2.5px;
  font-weight: bold;
}

/** navbar **/
nav {
  margin-top: 4.3vmin;
  text-align: center;
}
/** classes **/

/** page wrapper **/
.wrapper {
  width: auto;
  text-align: center;
  margin: 1.6em;
}
/** 404 page div **/
.error-div {
  text-align: center;
  font-family: glacialindifference;
  color: black;
  padding-top: 2vmin;
}

.nav-item:link {
  color: #9422ed;
  text-decoration: none;
  padding: 3.7vmin;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-item:visited {
  color: #9422ed;
}
.nav-item:hover {
  color: #5c0d99;
  text-decoration: none;
}
.nav-item:active {
  color: #95cbfb;
}

.liamhtml-logo {
}

.projects-dropdown {
  position: relative;
  display: inline-block;
}

.projects-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 25vmin;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  /* padding: 12px 7px; */
  border-radius: 10px;
  z-index: 1;
  left: 0;
}

.projects-dropdown:hover .projects-dropdown-content {
  display: block;
}

.dropdown-item {
  list-style-type: none;
  padding-bottom: 1.6vmin;
}

.dropdown-item:hover {
  text-decoration: underline;
}

/** ids **/


/** external fonts **/

/** Glacial Indifference Regular **/
@font-face  {
  font-family: glacialindifference;
  src: url(../assets/fonts/glacialindifference/gi_regular.otf);
}
/** Glacial Indifference Bold **/
@font-face {
  font-family: glacialindifference;
  src: url(../assets/fonts/glacialindifference/gi_bold.otf);
  font-weight: bold;
}
/** other **/
